<!-- About Section - Start
        ================================================== -->
<section class="about_section section_space">
    <div class="container">
        <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-5 order-lg-last">
                <div class="image_block">
                    <img src="assets/images/about/about_image_1.webp" alt="About Image">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="heading_block mb-0">
                    <mark class="heading_focus_title">About Us</mark>
                    <h1 class="heading_title wow" data-splitting>Welcome to Nova</h1>
                    <p class="heading_description mb-0">
                        “Our unique strength lies in our fusion of traditional application security prowess and
                        innovative blockchain security insights. When you choose Nova Security, you gain a partner
                        that is at the cutting edge of cybersecurity trends, ensuring robust protection for your
                        business now and into the future.”
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section - End
================================================== -->
<hr class="m-0">