<!-- Cake Challenge Section - Start
        ================================================== -->
<section class="cake_challenge_section section_space">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-5">
                <div class="cake_card_carousel swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="cake_card_block">
                                <div class="creame_fall">
                                    <img src="assets/images/cake/cake_creame_fall_image_1.webp" alt="Creame Fall Image">
                                </div>
                                <div class="cake_image">
                                    <img src="assets/images/cake/cake_image_1.webp" alt="Cake Image 1">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="cake_card_block">
                                <div class="creame_fall">
                                    <img src="assets/images/cake/cake_creame_fall_image_1.webp" alt="Creame Fall Image">
                                </div>
                                <div class="cake_image">
                                    <img src="assets/images/cake/cake_image_2.webp" alt="Cake Image 2">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="cake_card_block">
                                <div class="creame_fall">
                                    <img src="assets/images/cake/cake_creame_fall_image_1.webp" alt="Creame Fall Image">
                                </div>
                                <div class="cake_image">
                                    <img src="assets/images/cake/cake_image_3.webp" alt="Cake Image 3">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="cake_card_block">
                                <div class="creame_fall">
                                    <img src="assets/images/cake/cake_creame_fall_image_1.webp" alt="Creame Fall Image">
                                </div>
                                <div class="cake_image">
                                    <img src="assets/images/cake/cake_image_1.webp" alt="Cake Image 1">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="cake_card_block">
                                <div class="creame_fall">
                                    <img src="assets/images/cake/cake_creame_fall_image_1.webp" alt="Creame Fall Image">
                                </div>
                                <div class="cake_image">
                                    <img src="assets/images/cake/cake_image_2.webp" alt="Cake Image 2">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="cake_card_block">
                                <div class="creame_fall">
                                    <img src="assets/images/cake/cake_creame_fall_image_1.webp" alt="Creame Fall Image">
                                </div>
                                <div class="cake_image">
                                    <img src="assets/images/cake/cake_image_3.webp" alt="Cake Image 3">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-5">
                <div class="heading_block">
                    <h1 class="heading_title wow" data-splitting>Cake Challenge</h1>
                    <p class="heading_description mb-0">
                        Keen for a free security assessment of your system?<br><br>
                        
                        What's even better — if we find no bugs, you'll get delicious cakes on us!<br><br>
                        
                        If we do find issues, you'll receive a detailed report with recommendations.<br><br>
                        
                        It's a win-win: secure your system or enjoy a sweet treat!
                    </p>
                </div>
                <!-- Calendly link widget begin -->
                <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
                <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
                <a class="btn" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/nova-security/30-min-meeting'});return false;">
                    <span class="btn_label" data-text="Contact us for more details!">Contact us for more details!</span>
                    <span class="btn_icon">
                        <img src="assets/images/icons/icon_plane.svg" alt="icon Plane">
                    </span>
                </a>
                <!-- Calendly link widget end -->
            </div>
        </div>
    </div>
</section>
<!-- Cake Challenge Section - End
================================================== -->
<hr class="m-0">