<!-- Certification Section - Start
        ================================================== -->
<section class="certification_section section_space">
    <div class="container">
        <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-6">
                <div class="heading_block mb-lg-0">
                    <mark class="heading_focus_title">Certification</mark>
                    <h1 class="heading_title wow" data-splitting>OffSec Accredited</h1>
                    <p class="heading_description mb-0">
                        At Nova Security, our consultants are all OffSec accredited, holding certifications such as
                        OSCE, OSCP, OSWP, OSWE, and OSEP. This ensures that our team possesses top-tier skills and
                        expertise in identifying and mitigating security vulnerabilities. Trust our highly qualified
                        professionals to provide comprehensive security assessments and actionable insights to protect
                        your systems.
                    </p>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="certificate_image">
                    <img src="assets/images/certificate_image_1.webp" alt="Certificate image">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Certification Section - End ================================================== -->
<hr class="m-0">