<!-- Hero Section - Start
        ================================================== -->
<section class="hero_section section_space">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="heading_block mb-lg-0">
                    <h1 class="heading_title wow" data-splitting>Secure Your Future, Today</h1>
                    <p class="heading_description mb-0">
                        Our goal is to pioneer a safe digital landscape through our advanced penetration testing and
                        innovative blockchain security services, empowering businesses to grow with confidence
                    </p>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="hero_secure_image">
                    <div class="lock_image has_colorful_border">
                        <img src="../assets/images/lock_image.webp" alt="Lock Image">
                    </div>
                    <ul class="hero_funfacts_content unordered_list justify-content-center">
                        <li>
                            <span class="logo">
                                <img src="../assets/images/logo_offsec.webp" alt="Offsec Logo">
                            </span>
                            <small>Certified</small>
                        </li>
                        <li>
                            <span>5 Years+</span>
                            <small>Experience</small>
                        </li>
                        <li>
                            <span>International</span>
                            <small>Recognition</small>
                        </li>
                    </ul>
                    <div class="shape_image_1">
                        <img src="../assets/images/shapes/shape_circle_1.svg" alt="Circle Shape 1">
                    </div>
                    <div class="shape_image_2">
                        <img src="../assets/images/shapes/shape_circle_2.svg" alt="Circle Shape 1">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section - End
================================================== -->
<hr class="m-0">