<!-- blog_section - start
================================================== -->
<section class="blog_section section_space pt-0">
    <div class="container">
        <div class="row justify-content-lg-between justify-content-md-center justify-content-sm-center">
            <div class="col-md-8 col-sm-10">
                {% for post in site.posts limit:3 %}
                    <div class="blog_standard_layout">
                        <a class="item_image" href="{{ post.url }}">
                            <img src="{{ post.thumbnail }}" alt="image_not_found">
                        </a>
                        <div class="item_content">
                            <ul class="post_meta ul_li text-uppercase">
                                <li>By - <a href="#!">{{ post.author }}</a></li>
                                <li><a href="#!">{{ post.cat }}</a></li>
                            </ul>
                            <h3 class="item_title text_effect_wrap">
                                <a href="{{ post.url }}">
                                    <span class="text_effect_wrap1">
                                        <span class="text_effect_wrap2">
                                            <span class="text_effect_wrap3">{{ post.title }}</span>
                                        </span>
                                    </span>
                                </a>
                            </h3>
                            <p>
                                {{ post.description }}
                            </p>
                            <a class="btn_text text-uppercase" href="{{ post.url }}"><span>Read More</span> <i class="fal fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                {% endfor %}
                <!-- <ul class="pagination_nav ul_li">
                    <li class="d-none"><a href="#!">prev</a></li>
                    <li class="active"><a href="#!">1</a></li>
                    <li><a href="#!">2</a></li>
                    <li><a href="#!">3</a></li>
                    <li><a href="#!">next</a></li>
                </ul> -->
            </div>

            <div class="col-lg-4 col-md-8 col-sm-10">
                <aside class="sidebar_section">
                    {% include blog/sidebar.html %}
                </aside>
            </div>
        </div>
    </div>
</section>
<!-- blog_section - end
================================================== -->
