/* 2.10 - Iconbox - Start
================================================== */
.iconbox_block {
	z-index: 1;
	padding: 80px;
	position: relative;
	border-radius: 20px;
	backdrop-filter: blur(14px);
	background-image: linear-gradient(0deg, rgba(155, 81, 224, 0.08), rgba(48, 129, 237, 0.08));
	height: 100%;
	&:after {
		z-index: -1;
		inset: -1px;
		content: '';
		padding: 1px;
		position: absolute;
		border-radius: 22px;
		background: linear-gradient(0deg, var(--bs-primary), transparent, transparent, var(--bs-secondary));
		-webkit-mask: linear-gradient(#fff 0 0) content-box, 
		linear-gradient(#fff 0 0);
		-webkit-mask-composite: xor;
		mask-composite: exclude;
	}
	.iconbox_icon {
		margin-bottom: 40px;
		img {
			max-height: 100px;
		}
	}
	.iconbox_title {
		font-size: 32px;
		margin-bottom: 16px;
	}
	p {
		font-size: 22px;
		margin-bottom: 34px;
		color: var(--bs-white);
	}
	.list_title {
		font-size: 28px;
		margin-bottom: 20px;
	}
	.iconlist_block > li {
		font-size: 22px;
		line-height: 32px;
		color: var(--bs-white);
	}
}

.iconbox_block.recommended {
	background: linear-gradient(0deg, var(--bs-primary), var(--bs-secondary));
}

.review_block {
	z-index: 1;
	padding: 50px;
	position: relative;
	border-radius: 20px;
	backdrop-filter: blur(14px);
	background-image: linear-gradient(0deg, rgba(155, 81, 224, 0.08), rgba(48, 129, 237, 0.08));
	&:after {
		z-index: -1;
		inset: -1px;
		content: '';
		padding: 1px;
		position: absolute;
		border-radius: 22px;
		background: linear-gradient(0deg, var(--bs-primary), transparent, transparent, var(--bs-secondary));
		-webkit-mask: linear-gradient(#fff 0 0) content-box, 
		linear-gradient(#fff 0 0);
		-webkit-mask-composite: xor;
		mask-composite: exclude;
	}
	iframe {
		width: 100%;
		margin-bottom: 60px;
	}
	p {
		font-size: 32px;
		margin-bottom: 50px;
	}
	.review_author_logo {
		img {
			max-height: 50px;
		}
	}
}
/* 2.10 - Iconbox - End
================================================== */