/* 2.06 - Typography - Start
================================================== */
.heading_block {
	margin-bottom: 100px;
	.heading_focus_title {
		display: block;
		line-height: 1.3;
		font-size: 30px;
		font-weight: 700;
		margin-bottom: 30px;
	}
	.heading_title {
		line-height: 1;
		font-size: 100px;
		margin-bottom: 40px;
	}
	.heading_description {
		max-width: 950px;
	}
}
/* 2.06 - Typography - End
================================================== */