---
layout: default
---

<section class="contact_section section_space pb-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="heading_block">
                    <h1 class="heading_title wow mb-0" data-splitting>{{ page.title }}</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- details_section - start
================================================== -->
<section class="details_section blog-details-section section_space pt-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
               
                <div class="details_image">
                    <img src="{{ page.thumbnail }}" alt="image_not_found">
                </div>
                <div class="details_content">
                    <ul class="post_meta ul_li text-uppercase">
                        <li class="name">
                            By<a href="#">{{ page.author }}</a>
                        </li>
                        <li class="date">
                            {{ page.date | date: "%b %d, %Y" }}
                        </li>
                    </ul>
                    
                    
                    {{ content }}
                    
                

                </div>

            </div>
        </div>
    </div>
</section>
<!-- details_section - end
================================================== -->